* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#container {
  padding: 100px;
  border-radius: 30px;
  background-color: white;
}

#chrono {
  text-align: center;
  font-size: 100px;
  margin-bottom: 30px;
}

button {
  font-size: 25px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button {
  margin-right: 15px;
}

#stop,#reset{
  background-color: #dfdfdf;
  border:2px solid  green;
}
#stop:hover{
  background-color: rgb(47, 152, 47);
}
#reset:hover{
  background-color: rgb(47, 152, 47);
}
#start:hover{
  background-color: #6e92f3;
}
#start{
  background-color: #3a6eff;
}
